 :root {
     --navy-blue: #2E2F42;
     --cornflower: #E7E9FC;
     --iris: #4D5AE5;
     --slate: #434455;
 }

 body {
     font-family: Roboto, sans-serif;
     color: #434455;
     background-color: #FFFFFF;
 }

 ul li {
     list-style-type: none;
 }

 .list {
     list-style: none;
 }

 .link {
     text-decoration: none
 }

 .logo {
     font-family: "Raleway", sans-serif;
     font-size: 18px;
     font-weight: 800;
     line-height: 1.17;
     letter-spacing: 0.03em;
     color: #4d5ae5;
     text-transform: uppercase;
 }

 a,
 address {
     text-decoration: none;
     font-style: normal;
 }

 .studio-light {
     color: #F4F4FD;
 }

 .studio-dark {
     color: var(--navy-blue)
 }

 .sct-hero{
    background-color: #2e2f42;
 }

 .sct-hero-title{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
 }

 .sct-hero-btn{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
 }

 .sct-hero-btn:hover,
 .sct-hero-btn:focus{
    background-color: #404BBF;
 }

 .sct-one-ttl{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
 }

 .sct-one-prgrf{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
 }

 .sct-two-ttl{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
 }

 .sct-three{
    background-color: #F4F4FD; 
 }

 .sct-three-ttl{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
 }

 .sct-three-list{
    background-color: #FFFFFF;
    
 }

 header {
     background-color: var(--cornflower);
 }

 footer {
     background-color: var(--navy-blue);
     color: #F4F4FD;
 }

 .nav-btn{
     font-family: Roboto;
     font-size: 16px;
     font-weight: 500;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #2e2f42;
 }

 .nav-btn:hover,
 .nav-btn:focus {
     color: #404bbf;
 }

 .contact {
     font-family: Roboto;
     font-size: 16px;
     font-weight: 400;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: var(--slate);
 }

 .contact:hover,
 .contact:focus {
     color: #404bbf;
 }