:root {
    --navy-blue: #2E2F42;
    --cornflower: #E7E9FC;
    --iris: #4D5AE5;
    --slate: #434455;
}

body{
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul li{
    list-style-type: none;
}

.logo{
    font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
}

a,
address{
    text-decoration: none;
    font-style: normal;
}

.studio-light{
    color: #F4F4FD;
}

.studio-dark {
    color: var(--navy-blue)
}

header{
    background-color: var(--cornflower);
}

footer{
    background-color: var(--navy-blue);
    color: #F4F4FD;
}

.nav-btn a{
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: currentColor;
}

.nav-btn a:hover,
.nav-btn a:active,
.nav-btn a:focus{
        font-family: Roboto;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: var(--iris);
}

.contacts a {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: var(--slate);
}

.contacts a:hover,
.contacts a:active,
.contacts a:focus{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--iris);
}